{% extends "/base.html.twig" %}


{% block content %} 

<div class="tkt">

    <h3><i>Bienvenue sur la page admin. Vous pouvez accéder aux différentes pages depuis la barre de navigation !</i></h3>

    
</div>


{% endblock %}