#body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
  position: relative;
  background-color: rgb(255, 255, 250);
}
#body b {
  font-weight: bold;
}
#body header {
  padding: 2rem;
  display: flex;
  column-gap: 1em;
}
#body header a {
  color: blue;
}
#body h1 {
  font-weight: bold;
  padding: 2rem;
  font-size: 3em;
}
#body h2 {
  font-weight: bold;
  padding: 2rem;
  font-size: 1.5em;
}
#body h3 {
  font-weight: bold;
  padding: 2rem;
  font-size: 1.5em;
}
#body h4 {
  padding: 2rem;
  font-size: 1.5em;
}
#body #profile {
  padding: 2rem;
  background-color: rgb(210, 210, 210);
}
#body #profile #becomeHost {
  padding: 2em 0;
}
#body .big-form {
  padding: 2rem;
  max-width: 100vw;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1em;
}
#body .big-form input {
  height: 2em;
}
#body #dark-background {
  display: none;
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
#body #dark-background #createForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px lightgray;
  background-color: rgb(255, 255, 250);
  border-radius: 10px;
}
#body #dark-background #createForm #formHeader {
  display: flex;
  align-items: center;
  border-bottom: solid 1px grey;
  justify-content: space-between;
}
#body #dark-background #createForm #formHeader h2 {
  padding: 1rem;
}
#body #dark-background #createForm #formHeader #cross {
  margin-right: 1em;
  position: relative;
  cursor: pointer;
}
#body #dark-background #createForm #formHeader #cross div {
  width: 2em;
  height: 0.5em;
  background-color: rgb(233, 233, 233);
  position: absolute;
  top: 0;
  right: 0;
}
#body #dark-background #createForm #formHeader #cross #firstBar {
  transform: rotate(45deg);
}
#body #dark-background #createForm #formHeader #cross #secondBar {
  transform: rotate(-45deg);
}
#body #dark-background #createForm #formHeader #cross:hover div {
  background-color: green;
}
#body #dark-background #createForm form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
#body #dark-background #createForm form div {
  display: flex;
  column-gap: 1em;
}
#body #dark-background #createForm form div select {
  border-radius: 5px;
  background-color: white;
  flex-grow: 1;
}
#body #dark-background #createForm form label {
  font-size: 1.5em;
}
#body #dark-background #createForm form input {
  border-radius: 10px;
  border: solid 1px lightgrey;
  flex-grow: 1;
}
#body #dark-background #createForm form textarea {
  border-radius: 5px;
  border: solid 1px lightgrey;
  flex-grow: 1;
}
#body #dark-background #createForm form #postButton {
  align-self: center;
  width: 30%;
  height: 1.5em;
  background-color: rgb(70, 70, 70);
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
#body #dark-background #createForm form #postButton:hover {
  background-color: green;
}
#body #top-part {
  display: flex;
  justify-content: space-between;
  padding: 0 10em;
  align-items: center;
}
#body #top-part #popupButton {
  width: 7.5em;
  height: 1.8em;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 1.3em;
  cursor: pointer;
  border: none;
}
#body #top-part #popupButton:hover {
  background-color: rgb(85, 172, 85);
  color: black;
}
#body #journeys {
  display: flex;
  column-gap: 4em;
  row-gap: 2em;
  flex-wrap: wrap;
  margin-left: 25em;
}
#body #journeys .journey {
  display: flex;
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 10px;
  width: 30em;
  overflow: hidden;
}
#body #journeys .journey img {
  width: 35%;
  object-fit: cover;
}
#body #journeys .journey .right-part {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex-grow: 1;
  padding: 1em 0.5em;
}
#body #journeys .journey .right-part .top-right-part {
  display: flex;
}
#body #journeys .journey .right-part .top-right-part .journey-details {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex-grow: 1;
}
#body #journeys .journey .right-part .top-right-part .journey-details :not(.data) {
  font-weight: bold;
}
#body #journeys .journey .right-part .top-right-part .side-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding-left: 1em;
}
#body #journeys .journey .right-part .top-right-part .side-buttons p {
  cursor: pointer;
}
#body #journeys .journey .right-part .participateButton {
  align-self: flex-end;
  text-decoration: none;
  color: white;
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
  padding: 0.3em 0.6em;
}
#body #journeys .journey .right-part .participateButton:hover {
  background-color: green;
}

/*# sourceMappingURL=style.css.map */
