{% extends "/base.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="bloc-principal">


        <div class="telephone-droit">

            <img src="/assets/images/bonhomme-telephone.png" alt="telephone-app-beebrave">

        </div>


        <div class="principal-txt">

            <h1 class="marche">Envie d'allier marche, rencontres et soutiens associatifs ?</h1>

            <p class="ensemble">Ensemble, valorisons notre énergie en nous reconnectant les uns aux autres</p>

            <p class="communaute">Rejoignez la communauté !</p>


            <div class="principal-stores">

                <div class="principal-playstore">

                    <img src="/assets/images/petit-playstore.png" alt="icone-playstore">

                </div>


                <div class="principal-applestore">

                    <img src="/assets/images/petit-applestore.png" alt="icone-applestore">

                </div>

            
            </div>

        </div>


    </div>


    <div class="bloc-prez">

        <div class="prez-bloc">

            <div class="prez-bloc bloc1">
                <p>Rencontre</p>
            </div>

            <div class="prez-bloc bloc2">
                <p>Dynamisme</p>
            </div>

            <div class="prez-bloc bloc3">
                <p>Ecologie</p>
            </div>


        </div>

        
        <div class="prez-txt">

            <p class="first">BeeBrave est un service qui connecte les gens pour marcher ensemble !
                Chaque pas se transforme en Beez, une solution unique conçue par BeeBrave pour soutenir nos associations partenaires !
            </p> 

        </div>

        
    </div>


    <div class="bloc-telephones">

        <div class="bloc1-telephone">

            <div class="rond">

                <div class="telephone1">
    
                    <img src="/assets/images/telephone1accueil.png" alt="telephone">
    
                </div>
    
            </div>


            <div class="bloc1-txt">

                <p class="titre-rencontres">Faites des rencontres</p>

                <p>Créez de nouveaux contacts, découvrez et partagez, vous en apprendez sur le monde qui vous entoure et sûrement aussi sur vous...</p>

                <p>Vous ne serez plus jamais seuls pour vous promener !</p>


            </div>

        </div>


        <div class="bloc2-telephone">

            <div class="bloc2-txt">

                <p class="amusez-vous">Amusez vous !</p>

                <p>Avec notre application BeeBrave disponible sur Applestore et Playstore, rencontrez de nouveaux profils pour vos activités extérieures. Créez des trajets ou rejoignez ceux de la communauté.</p>

                <p>Valorisez vos pas et transformez-les en bonnes actions. Reversez vos Beez aux associations de votre choix de manière simple et rapide sur notre app !</p>


            </div>



            <div class="carre">

                <div class="telephone2">
    
                    <img src="/assets/images/telephone2accueil.png" alt="telephone">
    
                </div>
    
            </div>


        </div>


    </div>



    <div class="bloc-partenaires">

        <div class="rond-partenaires">
            <p class="deux-cent">+200</p>
            <p>Partenaires</p>
        </div>


        <div class="bloc-central">

            <div class="abeille-grise-gauche">

                <img src="/assets/images/abeille-grise-gauche.png" alt="abeille-grise">

            </div>


            <div class="partenaires-txt">


                <p>La valeur d'un Beez découle de nos partenariats de grandes envergures. Des associations qui souhaitent se connecter avec des publics soucieux de leur santé, de celles des autres et de l'environnement et ainsi les encourager à faire des choix de vie plus sains pour eux et pour la planète.</p>


            </div>


            <div class="abeille-grise-droite">

                <img src="/assets/images/abeille-grise-droite.png" alt="abeille-grise">

            </div>


        </div>

        <div id="slider">
            
            <input type="radio" name="slider" id="first" checked>
            <input type="radio" name="slider" id="second">
            <input type="radio" name="slider" id="third">
            <ul>
                <li><label for="first"></label></li>
                <li><label for="second"></label></li>
                <li><label for="third"></label></li>
            </ul>

            <div id="first-assos" class="partenaires">

                <div class="partenaire">
    
                    <img src="/assets/images/logo-restau-coeur.png" alt="logo-restau-du-coeur">                
    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-action-faim.png" alt="logo-action-contre-la-faim">
                    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-france-volontaires.png" alt="logo-france-volontaires">
                    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-spa.png" alt="logo-spa">
                    
                </div>
            </div>
            <div id="second-assos" class="partenaires">

                <div class="partenaire">
    
                    <img src="/assets/images/logo-apf.png" alt="logo-restau-du-coeur">                
    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-singa.png" alt="logo-action-contre-la-faim">
                    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-make-sense.png" alt="logo-france-volontaires">
                    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-goodplanet.png" alt="logo-spa">
                    
                </div>
            </div>
            <div id="third-assos" class="partenaires">

                <div class="partenaire">
    
                    <img src="/assets/images/logo-armee-salut.png" alt="logo-restau-du-coeur">                
    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-nicolas-hulot.png" alt="logo-action-contre-la-faim">
                    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-forum-jeunesse.png" alt="logo-france-volontaires">
                    
                </div>
    
    
                <div class="partenaire">
    
                    <img src="/assets/images/logo-solidarites-jeunesse.png" alt="logo-spa">
                    
                </div>
            </div>
    </div>

    <div id="review-bloc">
        <h2>Ils nous font confiance</h2>

        <div id="reviews">
            <div class="review">
                <img src="/assets/images/pin.png" alt="Pin">
                <p class="comment">
                    L'application est simple d'utilisation, facile à prendre en main. Vous faites réellement de belles rencontres avec des personnes qui vous ressemblent. N'hésitez pas !
                </p>
            </div>

            <div class="review">
                <img src="/assets/images/pin.png" alt="Pin">
                <p class="comment">
                    Grâce à BeeBrave, il est possible de réaliser des dons simplement en bougeant un peu. C'est vraiment une superbe application !
                </p>
            </div>

            <div class="review">
                <img src="/assets/images/pin.png" alt="Pin">
                <p class="comment">
                    J'utilise BeeBrave depuis sa sortie, et je suis très satisfait de l'application. Le concept est génial avec un futur très prometteur. Laissez vous tenter !
                </p>
            </div>

            <div class="review">
                <img src="/assets/images/pin.png" alt="Pin">
                <p class="comment">
                    Très bon concept <br> 
                    Application qui donne envie de faire un peu plus d'activité physique et faire de superbe rencontre.
                </p>
            </div>
        </div>
    </div>


{% endblock %}