{% extends "/base.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="bloc-principal">


        <div class="telephone-droit">

            <img src="/assets/images/bonhomme-telephone.png" alt="telephone-app-beebrave">

        </div>


        <div class="principal-txt">

            <p class="marche">Envie d'allier marche, rencontres et soutiens associatifs ?</p><br><br>

            <p class="ensemble">Ensemble, valorisons notre énergie en nous reconnectant les uns aux autres</p><br><br>

            <p class="communaute">Rejoignez la communauté !</p>


            <div class="principal-stores">

                <div class="principal-playstore">

                    <img src="/assets/images/petit-playstore.png" alt="icone-playstore">

                </div>


                <div class="principal-applestore">

                    <img src="/assets/images/petit-applestore.png" alt="icone-applestore">

                </div>

            
            </div>

        </div>


    </div>


    <div class="bloc-prez">

        <div class="prez-bloc">

            <div class="prez-bloc1">

            </div>

            <div class="prez-bloc2">

            </div>

            <div class="prez-bloc3">

            </div>


        </div>

        
        <div class="prez-txt">

            <p class="first">BeeBrave est un service qui connecte les gens pour des activités en commun...<br><br></p> 
            
            <p>Chaque pas se transforme en Beez, une solution unique conçue pour soutenir nos associations partenaires !</p>

        </div>

        
    </div>


    <div class="bloc-telephones">

        <div class="bloc1-telephone">

            <div class="rond">

                <div class="telephone1">
    
                    <img src="/assets/images/telephone1accueil.png" alt="telephone">
    
                </div>
    
            </div>


            <div class="bloc1-txt">

                <p class="titre-rencontres">Faites des rencontres</p><br><br>

                <p>Créez de nouveaux contacts, découvrez et partagez, vous en apprendez sur le monde qui vous entoure et sûrement aussi sur vous...</p><br>

                <p>Vous ne serez plus jamais seuls pour vous promener !</p>


            </div>

        </div>


        <div class="bloc2-telephone">

            <div class="bloc2-txt">

                <p class="amusez-vous">Amusez vous !</p><br><br>

                <p>Avec notre application BeeBrave disponible sur Applestore et Playstore, rencontrez de nouveaux profils pour vos activités extérieures. Créez des trajets ou rejoignez ceux de la communauté.</p><br>

                <p>Valorisez vos pas et transformez-les en bonnes actions. Reversez vos Beez aux associations de votre choix de manière simple et rapide sur notre app !</p>


            </div>



            <div class="carre">

                <div class="telephone2">
    
                    <img src="/assets/images/telephone2accueil.png" alt="telephone">
    
                </div>
    
            </div>


        </div>


    </div>



    <div class="bloc-partenaires">

        <div class="rond-partenaires">
            <p class="deux-cent">+200<br></p>
            <p>partenaires</p>
        </div>


        <div class="bloc-central">

            <div class="abeille-grise-gauche">

                <img src="/assets/images/abeille-grise-gauche.png" alt="abeille-grise">

            </div>


            <div class="partenaires-txt">


                <p>La valeur d'un Beez découle de nos partenariats de grandes envergures. Des associations qui souhaitent se connecter avec des publics soucieux de leur santé, de celles des autres et de l'environnement et ainsi les encourager à faire des choix de vie plus sains pour eux et pour la planète.</p>


            </div>


            <div class="abeille-grise-droite">

                <img src="/assets/images/abeille-grise-droite.png" alt="abeille-grise">

            </div>


        </div>


        <div class="partenaires">


            <div class="partenaire">

                <img src="/assets/images/restau-coeur-icone.png" alt="logo-restau-du-coeur">                

            </div>


            <div class="partenaire">

                <img src="/assets/images/action-faim-icone.png" alt="logo-action-contre-la-faim">
                
            </div>


            <div class="partenaire">

                <img src="/assets/images/france-volontaires-icone.png" alt="logo-france-volontaires">
                
            </div>


            <div class="partenaire">

                <img src="/assets/images/spa-icone.png" alt="logo-spa">
                
            </div>

        </div>


    </div>


{% endblock %}