<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="/assets/style/reset.css" rel="stylesheet" type="text/css" />
    <link href="/assets/style/style.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/scripts/script.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body id="body">

    <header>
        {% block header %}

                <img src="assets/images/logo-blanc.png" alt="logo-bee-brave">
    
                <nav>
        
                    <li><a href="#">Trajets</a></li>
                    <li><a href="#">Associations</a></li>
                    <li><a href="#">Nos valeurs</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Premium</a></li>
        
                </nav>

                <div class="cote">

                    <a href="#">Connexion</a>

                    <div class="dl">
                        <a href="#">Télécharger l'application</a>
                    </div>

                </div>
    
        {% endblock %}
    </header>
    

{% block content %}
{% endblock %}
<<<<<<< HEAD
=======

{% block footer %}

<<<<<<< HEAD
    <footer>
        
        <img src="assets/images/logo-blanc.png">

        <p>AVEC L'APPLICATION MOBILE BEEBRAVE, AMELIOREZ VOTRE EXPERIENCE DE VISITE</p>


        <div class="store">

            <div class="playstore">

                <img src="assets/images/playstore.png" alt="logo-playstore">

            </div>


            <div class="applestore">

                <img src="assets/images/applestore.png" alt="logo-applestore">

            </div>


        </div>


        <div class="footer-links-rs">

            <div class="links">


            </div>


            <div class="rs">


            </div>
            

        </div>

        <div class="trait-blanc">

        </div>

        <p>©️ All rights reserved</p>

    </footer>
=======
>>>>>>> main
{% endblock %}
>>>>>>> Romain
</body>
</html>