{% extends "/base.html.twig" %}

{% block title %}User Login{% endblock %}
{% block script %}<script src='/assets/scripts/register.js' ></script>{% endblock %}

{% block content %}

    {# <h1>Login user account</h1> #}

     <div class="bloc-login">
                        <div class="register-photos-login">
                            <img class="register-logo" src="assets/images/logo-noir.png" alt="BeeBrave">
                            <img class="register-tel" src="assets/images/telephone.png" alt="telephone">
                                <div class="store">
                                    <a href="https://play.google.com/store/apps" target="_blank"><img class="storey" src="assets/images/playstore.png" alt="playstore"></a> 
                                    <a href="https://www.apple.com/fr/store" target="_blank"> <img  class="storey" src="assets/images/applestore.png" alt="applestore"></a> 
                                </div>

                        </div>
                        
                        {# <form action="" method="POST" class="big-form">
                            <input type="text" placeholder="mail" name="mail" id="mail">
                            <input type="password" placeholder="password" name="password" id="password">
                            <input type="submit" value="Login" id="login" name="login">
                       </form> #}
                   

                  <div class="containerA">
                    <form action="" method="POST" class="big-form">
                        
                        <div class="row100">
                            
                           
                            <div class="col">
                                <div class="inputBox">
                                    <input type="text" name="mail" required>
                                    <span class="text"> Adresse e-mail</span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="inputBox">
                                    <input type="password" name="password" id='my-input' required>
                                    <span  class="text"> Mot de passe </span>  <button id="btn" class="btn1 btn">Afficher</button>
                                    <span class="line"></span>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row100">
                            <div class="col"> 
                                <input class="subConn" type="submit" name="login" value="Se Connecter">
                            </div>
                        </div> 
                         
                        <a class="mdpoub" href="#" target="_blank" rel="noopener noreferrer"> Mot de passe oublié ?</a>  
                  </form>  
                  <a class="inscrivez" href="/register" >inscrivez-vous</a>     
             </div>
           
    </div>


{% endblock %}