{% extends "base.html.twig" %}

{% block title %}{{ association.name }}{% endblock %}
{% block content %}

    <div id="association-page">

        <div></div>
        <div></div>
        <div></div>

    </div>

{% endblock %}