{% extends "base.html.twig" %}

{% block title %}{{ association.name }}{% endblock %}
{% block content %}

    <div id="association-page">

        <div>
            <img src="/assets/images/Icon awesome-arrow-left.png" alt="Exit arrow">
            <img src="/assets/images/{{ association.logo }}" alt="Association logo">
            
        </div>
        <div></div>
        <div></div>

    </div>

{% endblock %}